<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <script src="{% static 'dist/scripts.js' %}"></script>
    <script src="https://kit.fontawesome.com/a579f6da9c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <title>{% block title %}RosAI{% endblock %}</title>
</head>

<body class="h-screen">
<div id="content" class="w-full h-full flex flex-col items-center justify-center">
    {% block content %}{% endblock %}
</div>
</body>
</html>